*{margin:0;padding:0}
body{margin:0 auto;}
img{border:0px;}
.slider-box{width:1310px;height:630px;margin:0 auto;border:1px solid #ccc;overflow:hidden;position:relative;}
.slider-box .slider-bg{width:1310px;height:630px;background-image:url(bannerbg.jpg);position:absolute;top:0px;left:0px;}
.slider-box .slider-item{display:block;width:1310px;height:630px;position:aboslute;left:-150%;left:0px;}
.slider-box .slider-wrap{width:1310px;height:630px;}
.slider-item a{display:block;width:1310px;height:630px;}
.slider-timer{width:1310px;height:3px;background:#ccc;position:absolute;left:0px;bottom:0px;}
.slider-timer .slider-timer-bar{width:0px;height:3px;background:green;}